unset {
  color: #ff01ff;
}

border {
  color: #d4d4d4;
}
accent {
  color: #3982cc;
}
info {
  color: #3982cc;
  background-color: #bcdaf7;
}
success {
  color: #067d17;
  background-color: #edfced;
}
warning {
  color: #ebc700;
  background-color: #f5eac1;
}
danger {
  color: #f50000;
  background-color: #ffcccc;
}
hint {
  color: #c3c3c3;
  background-color: #f7faff;
}

base {
  background-color: #ffffff;
  color: #000000;

  .current-line {
    background-color: #fcfaee;
  }

  .selection {
    background-color: #b5d7fd;
  }

  .whitespace {
    color: #e6e6e6;
  }

  .highlight {
    .text {
      background-color: #b5d7fd88;
    }
    .symbol-read {
      background-color: #edebfc;
    }
    .symbol-write {
      background-color: #fce8f4;
    }
    .search-current {
      background-color: #ccccff;
    }
    .search-others {
      background-color: #ffe959;
    }
  }

  .guides {
    .active {
      color: #d8d8d8;
    }
    .inactive {
      color: #e6e6e6;
    }
  }

  .inactive {
    color: #8c8c8c;
  }
}

editor {
  background-color: #ffffff;
  color: #000000;
  .current-line {
    background-color: #fcfaee;
  }
}

ui {
  background-color: #f2f2f2;
  border: #d4d4d4;
  .icon {
    color: #6e6e6e;
  }
  .hover {
    background-color: #dadada;
  }
  .active {
    background-color: #bebebe;
  }
  .dimmed {
    color: #383a42;
  }
}

list {
  .hover {
    background-color: #d5d5d5;
  }
  .selection-active {
    background-color: #1974c2;
    color: #ffffff;
  }
  .selection-inactive {
    background-color: #effae6;
    color: #383a42;
  }
}

symbols {
  .default {
    color: #080808;
  }
  .comment {
    color: #b2b2b2;
    background-color: #ededed;
  }
  .folded {
    color: #414d41;
    background-color: #e9f5e6;
  }
  .string {
    color: #067d17;
  }
  .number {
    color: #1750eb;
  }
  .keyword {
    color: #0033b3;
  }
}

.solarized {
  .base03 {
    color: #002b36;
  }
  .base02 {
    color: #073642;
  }
  .base01 {
    color: #586e75;
  }
  .base00 {
    color: #657b83;
  }
  .base0 {
    color: #839496;
  }
  .base1 {
    color: #93a1a1;
  }
  .base2 {
    color: #eee8d5;
  }
  .base3 {
    color: #fdf6e3;
  }
  .yellow {
    color: #b58900;
  }
  .orange {
    color: #cb4b16;
  }
  .red {
    color: #dc322f;
  }
  .magenta {
    color: #d33682;
  }
  .violet {
    color: #6c71c4;
  }
  .blue {
    color: #268bd2;
  }
  .cyan {
    color: #2aa198;
  }
  .green {
    color: #859900;
  }
}

.blueprint {
  .primary {
    color: #215db0;
  }
}
